* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    gap: 500px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu__link {
    color: black;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.top {
    padding-top: 44px;
    padding-bottom: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;

}

.h2 {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
}

.paragraph {
    margin-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
}

.button {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
}

.watch {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px 0px 72px;
}

.top__img {
    padding-top: 54.71px;
}


.logos {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.features {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}
.feature{
    width: 370px;
    height: 291px;
}
.features_paragraph {
    margin-bottom: 25px;
    width: 310px;
    height: 42px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.h3 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.read_more {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}
.feature_img {
    margin-bottom: 25px;
}
.box {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.whyUs_h2 {
    padding-top: 92px;
    display: flex;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
}
.whyUs_paragraph {
    padding-top: 19px;
    white-space-collapse: break-spaces;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.whyUs_blocks {
    display: flex;
    justify-content: center;
}
.whyUs_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding-top: 54px;
    padding-bottom: 100px;
}
.whyUs_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whyUs_h3{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.whyUs_block_paragraph {
    width: 310px;
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-top: 22px;
}
.whyUs_button {
    border-radius: 50px;
    background: #F25822;
    border-color: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 39px;
}
.whyUs_img {

}
